<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sensoria.sensorialibraryapp" >

    <!-- We need to be able to download map tiles and access Google Play Services -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Allow the application to access Google web-based services. -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!-- Google Maps for Android v2 will cache map tiles on external storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Google Maps for Android v2 needs this permission so that it may check the connection state as it must download data -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".FirstTimeScreens.FirstTimeScreensActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@android:style/Theme.Holo.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewController.MainMenu.MenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewController.MonitorPage.MonitorActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewController.MonitorPage.TestServiceActivity"
            android:label="@string/title_activity_test_service" >
        </activity>
        <activity
            android:name=".ViewController.DiagnosticsPage.DiagnosticsActivity"
            android:label="@string/title_activity_diagnostics" >
        </activity>
        <activity
            android:name=".ViewController.TrainingPage.TrainingActivity"
            android:label="@string/title_activity_training" >
        </activity>
        <activity
            android:name=".ViewController.CalibrationsPage.CalibrationsActivity"
            android:label="@string/title_activity_main"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewController.DiagnosticsPage.DiagnosticResultsActivity"
            android:label="@string/title_activity_diagnostic_results" >
        </activity>
    </application>

</manifest>
